.subscribe-form{
    display: flex;
    align-items: center;
    // width: 100%;
    // max-width: 634px;
    column-gap: 20px;
    padding: 58px 40px;
    background-color: var(--color-dark-alt);
    border-radius: var(--border-radius);

    @include desktop{
        flex-direction: column;
        row-gap: 22px;
        padding: 30px;
        width: 100%;
        max-width: 450px;
        
    }

    &__button{
        width: 100%;
    }
}