.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto; // Центрирование .container по горизонтали
    padding-inline: var(--container-padding-x); // Внутренние отступы слева и справа
  }
  
.visually-hidden {
    @include visually-hidden;
}
 

/** Не видно только на мобильных устройствах (<= 767px)*/
.hidden-mobile {
    @include mobile {
      display: none !important;
    }
}

/** Не видно везде кроме мобильных устройств (>= 768px)*/  
.visible-mobile {
    @include mobile-above {
      display: none !important;
    }
}